ALLOW SERVICE PSM TO INSPECT VCNS IN COMPARTMENT {{ compartment_name }}
ALLOW SERVICE PSM TO USE SUBNETS IN COMPARTMENT {{ compartment_name }}
ALLOW SERVICE PSM TO USE VNICS IN COMPARTMENT {{ compartment_name }}
ALLOW SERVICE PSM TO MANAGE SECURITY-LISTS IN COMPARTMENT {{ compartment_name }}
ALLOW SERVICE PSM TO INSPECT AUTONOMOUS-DATABASE IN COMPARTMENT {{ compartment_name }}
ALLOW SERVICE PSM TO INSPECT DATABASE-FAMILY IN COMPARTMENT {{ compartment_name }}
ALLOW SERVICE PSM TO USE BUCKETS IN COMPARTMENT {{ compartment_name }}
