#############################################################

  {{ course_title }}
  Event ID {{ event_id }}

  1) Cloud Domain Name:
     {{ domain_id }}

  2) JAVA Cloud Instance Name:
     JCS{{student_user | regex_replace('-', '')}}

#############################################################
