 ##################################################################
                   {{ course_title }}

                     Event ID {{ event_id }}

     VNC access:   {{ instance_ip }}:5901
     VNC password: {{ event_id }}

		O.S. username: oracle
		O.S. password: OU{{ event_id }}

 ##################################################################
