 #############################################################
          {{ course_title }}
               Event ID {{ event_id }}


1) Visual Builder Studio URL
    {{ adcs_json.output.serviceAccessUrl }}


2) Public Key
    {{ public_key }}


3) Private Key
    {{ private_key }}


4) OKE Cluster URL
   https://console.us-ashburn-1.oraclecloud.com/containers/clusters


 #############################################################

