 ##################################################################
                   {{ course_title }}

                     Event ID {{ event_id }}

     VNC access: {{ instance_ip }}:5900

		username: oracle
		password: OU{{ event_id }}

 ##################################################################
