<p>
<b>Instructions to connect to the environment:</b>
<p>
* If you are accessing the lab environment <b>WITHOUT</b> a proxy : Click <a href="http://oukc.oracle.com/static14/public/MOOC/Java_MOOC_support_guide_without_proxy.pdf" target="_blank">here</a>
<p>
* If you are accessing the lab environment <b>WITH</b> a proxy : Click <a href="http://oukc.oracle.com/static14/public/MOOC/Java_MOOC_support_guide_with_proxy.pdf" target="_blank">here</a>
<p>
 #################################################################
                   {{ course_title }}

                     Event ID {{ event_id }}

     VNC access:   {{ instance_ip }}:5901
     VNC password: {{ event_id }}

		O.S. username: oracle
		O.S. password: OU{{ event_id }}

 #################################################################
