ALLOW SERVICE PSM TO INSPECT VCNS IN COMPARTMENT {{ event_id }}-C01
ALLOW SERVICE PSM TO USE SUBNETS IN COMPARTMENT {{ event_id }}-C01
ALLOW SERVICE PSM TO USE VNICS IN COMPARTMENT {{ event_id }}-C01
ALLOW SERVICE PSM TO MANAGE SECURITY-LISTS IN COMPARTMENT {{ event_id }}-C01
ALLOW SERVICE PSM TO INSPECT AUTONOMOUS-DATABASE IN COMPARTMENT {{ event_id }}-C01
ALLOW SERVICE PSM TO INSPECT DATABASE-FAMILY IN COMPARTMENT {{ event_id }}-C01
